header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: yellowgreen;

    .logo {
        height: 100px;
        width: auto;

    }

    nav {
        margin: 20px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;

        ul {
            a {
                display: inline-block;
                padding: 10px;
                margin-left: 70px;
                font-size: 2rem;
                color: #000000;

                &:hover{
                    color:#ff4500;
                }
            }
        }

    }

    img {
        width: 100%;
        height: auto;
    }
}