
$main-font-family:"Indie Flower";

@import "header";

   
    .main__container{
        border: 5px solid black;
        text-align: center;
        padding: 20px;
        margin: 30px;
    
    }
    .plato{
        width: 100%;
        height: auto;
    }